header > .row{
  background-color: #2c3e50;
}
header p {
color: #fff;
}

@media screen and (max-width:768px) {

header{
  min-height: 100px;
}

  p{
   padding-bottom: 20px;
   vertical-align: middle;

  }

#top_banner{
  background-color: #1abc9c;
  min-height: 300px;

}
.main_pic {
  background-color: #2c3e50;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

}


hr{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}






}
